

#logga, #loggaUt, .profile, .profileClick, .board, .boardClick, .messages, .messagesClick, .nabos, .nabosClick, #content, #signIn, #signUp, footer {
    padding: 2px;
    margin-bottom: 2px;
    position: absolute;
}

html { 
    background: url(/static/Bilder/f0840149.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin:0;
    padding:0;
    height:100%;
    color: #ffffff;
}


#wrapper {
    width: 1200px;
    height: auto;
    position:relative;
    margin: 0px auto;
}



/* ----- Header ----- */ 

#logga {
    background-color: #4d6630;
    padding-right: 50px;
    padding-left: 20px;
    border: 100px;
    border-radius: 5px 0px 0px 5px;

    
}


#loggaUt {
    left: 270px;
    width: 800px;
    height: 50px;
    text-align: right;
    padding: 20px;
    background-color: #4d6630;
    color: #ffffff;
    font-family: sans-serif;
    border-radius: 0px 5px 5px 0px;
}

#loggaUt a {
    color: #ffffff;

}

#loggaUt a:hover {
    color: rgba(115,115,115,0.8);
    font-weight: bold;

}

#loggaUt a:active {
    font-weight: bold;
    font-size: 16px;

}

#adress {
    float: left;
    padding-left: 17px;
    font-size: 20px;
}


/* ----- Navigation ----- */


#user {
    color: #4d6630;
    font-weight: bold;
}

.profile, .board, .messages, .nabos, .profileClick, .boardClick, .messagesClick, .nabosClick {
    top: 101px;
}

.board, .messages, .nabos, .boardClick, .messagesClick, .nabosClick {
    top: 198px;
}

.messages, .nabos, .messagesClick, .nabosClick {
    top: 262px;
}

.nabos, .nabosClick {
    top: 343px;
}

.profile, .board, .messages, .nabos {
    background: rgba(115,115,115,0.8);
    font-family: sans-serif;
    width: 240px;
}

.profileClick, .boardClick, .messagesClick, .nabosClick {
    background: rgba(115,115,115,0.8);
    font-family: sans-serif;
    width: 240px;
    padding-right: 63px;
}

.messages li:last-child {
    font-size: 13px;
}

.profile li:last-child {
    font-size: 13px;
}

ul {
    list-style-type: none;          
}

a.nav:link {
    text-decoration: none;
    color: #ffffff;
}

a.nav:visited {
    text-decoration: none;
    color: #ffffff;
}

a.nav:hover {
    color: #4d6630;
    font-weight: bold;
}

a.nav:active {
    text-decoration: none;
    font-weight: bold;
    color: #4d6630;
}

a:link {
    text-decoration: none;
    color: #ffffff;
}

a:visited {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #4d6630;
}

a:active {
    text-decoration: none;
    font-weight: bold;
    color: #4d6630;
}


/* ----- Stora rutan ----- */

#content {
    background:rgba(115,115,115,0.8);    
    color: #ffffff;
    font-family: sans-serif;
    top: 101px;
    left: 305px;
    width: 800px;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 40px;
    margin-bottom: 40px;

}




/* ----- LÄNKAR ----- */

a:link {
    text-decoration: none;
    color: #ffffff;
}

a:visited {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #4d6630;
    font-weight: bold;
}

a:active {
    text-decoration: none;

}
 


/* ----- PROFILSIDA ----- */

#profilePic {
    float: right;
    padding: 20px;
    margin: 20px;
}

#age, #apartment, #phone {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 40px;
}

#name, #likes {
    padding-top: 40px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 40px;
}

#clickToEditProfile{
    padding-left: 40px;
    font-style: italic;
    text-decoration: underline;
    font-size: smaller;
}

/* ----- REDIGERA PROFIL -----*/

#editProfileText{
    font-weight: bold;
    font-size: 18px;
}

#editProfile {
    padding-left: 20%;
    padding-right: 20%;
    width: 80%;
}

#acceptChange {
    float: right;
}

/* ----- ANSLAGSTAVLAN ----- */

#writeAPost {
    margin: 0 auto;
    width: 80%;
    background-color: #4d6630;
    border-radius: 5px 5px 5px 5px;
}

#picWhenPosting {
    padding-left: 15px;
    width: 10%;
    float: left;
}

#writtenPost {
    width: 78%;
    float: right;
    margin-top: 35px;
    margin-right: 25px;
    
   

}

#submitPost {
    width: 20%;
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 495px;
    color: #4d6630;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    font-weight: bold;
    margin-top: 0;
}


.publishedPosts {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    background-color: #ffffff;
    color: #696969;
    
    
}

#replyToPost {
    float: right;
    font-style: italic;
    color: #4d6630;
}



/* ----- Mina meddelanden ----- */

.from {
    width: 50%;
    float: left;
    padding: 8px;
    background-color: #696969;
    border-radius: 10px 10px 10px 10px;
}

.me {
    width: 50%;
    float: right;
    padding: 10px;
    background-color: green;
    border-radius: 10px 10px 10px 10px;
}

#fakeWrite {
    width: 87%;
    padding: 5px;
    float: left;
    background-color: #ffffff;
    border-radius: 2px 2px 2px 2px;
    color: #696969;
    font-style: italic;
}

#fakeSend {
    width: 10%;
    padding: 5px;
    float: right;
    background-color: green;
    border-radius: 2px 2px 2px 2px;
    text-align: center;
}


.inboxMessages {
    width: 80%;
    padding: 20px;
    border-bottom: 2px solid #4d6630;
    margin: 0 auto;
}


/* ----- Skriv meddelande ----- */

#listOfContacts {
    width: 40%;
    float: left;
    padding: 10px;  
}

#writeANewMessage {
    width: 40%;
    float: right;
    background-color: #ffffff;
    color: #696969;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    margin-right: 20px;
    font-style: italic;
    font-size: smaller;
}

#writeYourMessageHere {
    width: 40%;
    float: right;
    background-color: #ffffff;
    color: #696969;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    margin-right: 20px;
    font-style: italic;
    padding-bottom: 200px;
    font-size: smaller;
}

#sendYourMessageButton {
    width: 20%%;
    float: right;
    background-color: #4d6630;
    color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    margin-right: 20px;
    margin-left: 400px;
    text-align: center;
    
}


/* ----- Footer ----- */

footer {
    width: 1100px;
    height: 30px;
    background-color: #4d6630;
    padding-top: 15px;
    padding-bottom: 5px;
    font-family: sans-serif;
    text-decoration: none;
    text-align: center;
    bottom: 0;
    position: fixed;
    border-radius: 5px 5px 0px 0px; 
    left: auto;
    right: auto;
    
}

footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0px 10px 0px 10px;
        
}

footer a:hover {
    color: #ababab;
}


/* ----- Inloggningssidan ----- */

#mamaWrapper {
    height:60%;
    width: 90%;
    position:absolute;
    margin: auto;
}

#indexWrapper {
    top:10%;
    margin-left: 13%;
    margin-right: auto;
    height:62%;
    width: 42%;
    border: 5px solid #4d6630;
    background: rgba(140, 140, 140, 0.6);
    border-radius: 20px 20px 20px 20px;
    position: absolute;
}

#secondIndexWrapper {
    top: -4px;
    height: 167%;
    width: 80%;
    border: 5px solid #4d6630;
    background: rgba(140, 140, 140, 0.6);
    border-radius: 20px 20px 20px 20px;
    position: absolute;
    left: 115%;
}

#signin, #signUp, #welcomeText{
    position: absolute;
}

#signin {
    top: 44%;
    left: 7%;
    padding: 2%;

}

#signUp {
    left: 7%;
    top: 7%;
    padding: 5%;
    margin: auto;
}

#welcomeText {
    top: 45%;
    left: 47%;
    width: 60%;
    padding-left: 3%;
}

h1 {
    color: white;
    font-family: sans-serif;
    font-size: 25px;
}

#welcomeTextFirstPage {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

#indexPageText{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: -3%;
}
#backgroundlogin {
    background-color: #4d6630;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 40px;
    border: 1px solid #4d6630;
    border-radius: 0px 23px 0px 0px;
}
    
.submit input {
    width: 100px; 
    height: 40px;
    background-color: #4d6630; 
    color: #FFF;
    border-radius: 3px;
    float: right;
    font-weight: bold;
    font-size: 12px;

}

.submitLong input {
    width: 150px; 
    height: 40px;
    background-color: #4d6630; 
    color: #FFF;
    border-radius: 3px;
    float: right;     
}

#mamaWrapper #signin  h2 {
    padding: 1%;
    font-size: 14px;
    font-family: sans-serif;
    border: 1px solid;
    top:-3s%;
    background-color: #4d6630;
    width: 63%;


}

#mamaWrapper #signUp h2 {
    padding: 1%;
    font-size: 14px;
    font-family: sans-serif;
    border: 1px solid;
    top:-3s%;
    background-color: #4d6630;
    width: 97%;


}



input {
    padding: 10px;
    border: 1px solid #E5E5E5;
    width: 300px;
    color: #4d6630;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;   
    }


 #email, #password {
    width: 160px;
 }

 #passwordLI, #name, #surname {
    width: 137px;
 }

input:hover 
input:focus {
    border-color: 1px solid #4d6630;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}

.form label {
    margin-left: 10px;
    color: #4d6630;
}

























