#logga, #loggaUt, #profile, #board, #messages, #nabos, #content, #signIn, #signUp, footer {
    padding: 2px;
    margin-bottom: 2px;
    position: absolute;
}

html { 
    background: url(../static/Bilder/f0840149.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin:0;
    padding:0;
    height:100%;
}


#wrapper {
    min-height:100%;
    width: 1200px;
    position:relative;
    margin: 0 auto;
}



/* ----- Header ----- */

#logga {
    background-color: #4d6630;
<<<<<<< HEAD
    padding-right: 50px;
    padding-left: 20px;
=======
    padding-right: 40px;
    padding-left: 50px;
>>>>>>> 104b04ece1a7101ab746d99cfee46c89a2957fa4
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px 5px 90px 0px;
    
}



#loggaUt {
    left: 270px;
    width: 800px;
    text-align: right;
    padding: 20px;
    background-color: #4d6630;
    color: #ffffff;
    font-family: sans-serif;
    border-radius: 0px 5px 0px 0px;
}


/* ----- Navigation ----- */


#profile, #board, #messages, #nabos {
    top: 132px;
}

#board, #messages, #nabos {
    top: 212px;
}

#messages, #nabos {
    top: 274px;
}

#nabos {
    top: 354px;
}

#profile, #board, #messages, #nabos {
    background-color: #fbfffa;
    font-family: sans-serif;
    width: 240px;
}

ul {
    list-style-type: none;          
}

a.nav:link {
    text-decoration: none;
    color: #696969;
}

a.nav:visited {
    text-decoration: none;
    color: #696969;
}

a.nav:hover {
    color: #4d6630;
    font-weight: bold;
}

a.nav:active {
    text-decoration: none;
    font-weight: bold;
    color: #4d6630;
}

a:link {
    text-decoration: none;
    color: #ffffff;
}

a:visited {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #4d6630;
}

a:active {
    text-decoration: none;
    font-weight: bold;
    color: #4d6630;
}


/* ----- Stora rutan ----- */

#content {
    padding-bottom:100px; /* Måste vara större än footer-höjden */
    background-color: #fbfffa;
    color: #696969;
    font-family: sans-serif;
    top: 100px;
    left: 305px;
    width: 800px;
    
    border-radius: 10px 0px 10px 10px;

}

/* ----- PROFILSIDA ----- */







/* ----- Footer ----- OBS! FUNGERAR EJ - BEHÖVER ARBETE */

footer {
    background:#4d660;
    width:1100px;
    height:30px;
    padding-top: 15px;
    bottom:0;
    left:0;
    font-family: sans-serif;
    text-align: center;
}


/* ----- Inloggningssidan ----- */


#indexWrapper {
    min-height:500px;
    width: 800px;
    position:relative;
    top: 100px;
    margin: 0 auto;
    border: 5px solid #4d6630;
    background:rgba(115,115,115,0.7);
    border-radius: 30px 30px 30px 30px;
}

#signin, #signUp, #welcomeText{
    position: absolute;
}

#signin {
    left: 340px;

}

#signUp {
    left: 20px;
    top: 120px;
    padding: 35px;
}

#welcomeText {
    top: 180px;
    left: 450px;
    width: 300px;
}

h1 {
    color: white;
    font-family: sans-serif;
    font-size: 25px;
}

#welcomeTextFirstPage {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

#indexPageText{
    color: white;
    font-family: sans-serif;
}
#backgroundlogin {
    background-color: #4d6630;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 40px;
    border: 1px solid #4d6630;
    border-radius: 0px 23px 0px 0px;
}
    
.submit input {
    width: 100px; 
    height: 40px;
    background-color: #4d6630; 
    color: #FFF;
    border-radius: 3px;
    float: right;

}

.submitLong input {
    width: 150px; 
    height: 40px;
    background-color: #4d6630; 
    color: #FFF;
    border-radius: 3px;
    float: right;     
}



input {
    padding: 10px;
    border: 1px solid #E5E5E5;
    width: 300px;
    color: #4d6630;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;   
    }

#name {
    padding: 10px;
    border: 1px solid #E5E5E5;
    width: 120px;
    color: #4d6630;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;  
}

#surname {
    padding: 10px;
    border: 1px solid #E5E5E5;
    width: 153px;
    color: #4d6630;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;  
 }

 #email, #password {
    width: 160px;
 }

input:hover 
input:focus {
    border-color: 1px solid #4d6630;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}

.form label {
    margin-left: 10px;
    color: #4d6630;
}


#naboruta a:link, a:visited {
    text-decoration: none;
    color: #000;
}




