

#logga, #loggaUt, .profile, .profileClick, .board, .boardClick, .messages, .messagesClick, .nabos, .nabosClick, #content, #signIn, #signUp, footer {
    padding: 2px;
    margin-bottom: 2px;
    position: absolute;
}

html { 
    background: url(Bilder/f0840149.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin:0;
    padding:0;
    height:100%;
    color: #ffffff;
}


#wrapper {
    width: 1200px;
    height: auto;
    position:relative;
    margin: 0px auto;
}



/* ----- Header ----- */ 

#logga {
    background-color: #4d6630;
    padding-right: 50px;
    padding-left: 20px;
    border: 100px;
    border-radius: 5px 0px 0px 5px;

    
}


#loggaUt {
    left: 270px;
    width: 800px;
    height: 50px;
    text-align: right;
    padding: 20px;
    background-color: #4d6630;
    color: #ffffff;
    font-family: sans-serif;
    border-radius: 0px 5px 5px 0px;
}

#loggaUt a {
    color: #ffffff;

}

#loggaUt a:hover {
    color: rgba(115,115,115,0.8);
    font-weight: bold;

}

#loggaUt a:active {
    font-weight: bold;
    font-size: 16px;

}

#adress {
    float: left;
    padding-left: 17px;
    font-size: 20px;
}

<<<<<<< HEAD
.user {
    color: #4d6630;
    font-weight: bold;
}
=======

>>>>>>> 8fca3a3ae0472ea5e9899a57e0d8b2a56c44d7c0

.user a:first-child {
    margin-right: 15px;
}


/* ----- Navigation ----- */

nav {
    font-weight: bold;
}

.profile, .board, .messages, .nabos, .profileClick, .boardClick, .messagesClick, .nabosClick {
    top: 101px;
}

.board, .messages, .nabos, .boardClick, .messagesClick, .nabosClick {
    top: 198px;
}

.messages, .nabos, .messagesClick, .nabosClick {
    top: 262px;
}

.nabos, .nabosClick {
    top: 343px;
}

.profile, .board, .messages, .nabos {
    background: rgba(115,115,115,0.8);
    font-family: sans-serif;
    width: 240px;
}

.profileClick, .boardClick, .messagesClick, .nabosClick {
    background: rgba(115,115,115,0.8);
    font-family: sans-serif;
    width: 240px;
    padding-right: 63px;
}

.messages li:last-child {
    font-size: 13px;
}

.profile li:last-child {
    font-size: 13px;
    
}

.messagesClick li:last-child {
    font-size: 13px;
}

.profileClick li:last-child {
    font-size: 13px;
    margin-top: 0px;
}

ul {
    list-style-type: none;          
}

a.nav:link {
    text-decoration: none;
    color: #ffffff;
}

a.nav:visited {
    text-decoration: none;
    color: #ffffff;
}

a.nav:hover {
    color: #4d6630;
    font-weight: bold;
}

a.nav:active {
    text-decoration: none;
    font-weight: bold;
    color: #4d6630;
}

a:link {
    text-decoration: none;
    color: #ffffff;
}

a:visited {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #4d6630;
}

a:active {
    text-decoration: none;
    font-weight: bold;
    color: #4d6630;
}


/* ----- Stora rutan ----- */

#content {
    background:rgba(115,115,115,0.8);    
    color: #ffffff;
    font-family: sans-serif;
    top: 101px;
    left: 305px;
    width: 800px;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 40px;
    margin-bottom: 40px;

}




/* ----- LÄNKAR ----- */

a:link {
    text-decoration: none;
    color: #ffffff;
}

a:visited {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #4d6630;
    font-weight: bold;
}

a:active {
    text-decoration: none;

}
 


/* ----- PROFILSIDA ----- */

#profilePic {
    float: right;
    padding: 20px;
    margin-right: 40px;
    margin-left: 20px;
    margin-top: 20px;   
    margin-bottom: 20px;
}

#age, #apartment, #phone {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 10px;
    padding-left: 40px;

}

#likes {
    padding-top: 40px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 40px;
}

#name {
    padding-top: 40px;
    padding-bottom: 0;
    padding-right: 10px;
    padding-left: 40px;
}

#clickToEditProfile{
    padding-left: 40px;
    font-style: italic;
    text-decoration: underline;
    font-size: smaller;
}

/* ----- REDIGERA PROFIL -----*/

#editProfile {
    padding-left: 20px;
    margin-left: 20px;
    padding-top: 20px;
    margin-top: 20px;
    float: left;
    width: 40%
}

#editProfileText {
    font-weight: bold;
}

.profile_pic, .name, .surname, .age, .lgh, .email, .tel, .likes, .password {
    font-size: smaller;
    padding-bottom: 0;
    margin-bottom: 0;
}

#EDprofile_pic, #EDname, #EDsurname, #EDage, #EDlgh, #EDemail, #EDemail, #EDtel_nr, #EDlikes, #EDpassword {
    padding: 10px; 
    width: 300px; 
}


#acceptChange {
    margin-top: 20px;
    padding-top: 20px;
    font-weight: bold;
}

#EDsubmit {
    width: 120px; 
    height: 40px;
    background-color: #4d6630; 
    color: #FFF;
    border-radius: 3px;
    margin: 15px;
    font-weight: bold;
    font-size: 12px;
    float: right;
   
}


#moving {
    width: 40%;
    position: relative;
    float: left;
    top: 100px;
}

#move {
    width: 120px; 
    height: 40px;
    background-color: #4d6630; 
    color: #FFF;
    border-radius: 3px;
    float: right;
    font-weight: bold;
    font-size: 12px;
    margin: 20px;
}



/* ----- ANSLAGSTAVLAN ----- */

.writeAPost {
    margin: 0 auto;
    width: 80%;
    height: 100px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #4d6630;
    border-radius: 5px 5px 5px 5px;
}

#picWhenPosting {
    padding-left: 15px;
    width: 10%;
    float: left;
}

#writtenPostBoard {
    width: 70%;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;
}

#submitPost {
    width: 10%;
    float: left;
    margin-top: 16px;
    margin-left: 5px;
    border: none;
    box-shadow: none;
}

#submitPost:hover {
    border: 0.5px solid;
    border-color: #fff;
}


.publishedPosts {
    width: 80%;
    min-height: 50px;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 35px;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: #ffffff;
    color: #696969;
    
    
}

#pushPinPost {
    position: relative;
    float: right;
    margin-right: 320px;
    top: -25px;
}
.publishedPosts img {
    float: left;
}

#replyToPost {
    float: right;
    font-style: italic;
    color: #4d6630;
}

#publishedName {
    float: left;
    font-weight: bold;
    margin-right: 5px;
    margin-left: 10px;
    margin-top: 10px;
    max-width: 300px;
}

#publishedText {
    margin-top: 10px;
    float: left;
}


#publishedDate {
    margin-left: 79px;
    font-style: italic;
    font-size: 12px;
   
}

#backTo {
    margin-left: 70px;
    width: 120px;
    height: 20px;
    padding: 2px;
    font-weight: bold;
}




/* ----- Mina meddelanden ----- */

.from {
    width: 50%;
    float: left;
    margin-left: 20px;
    padding: 8px;
    background-color: #AAAAAA;
    border-radius: 10px 10px 10px 10px;
}

.me {
    width: 50%;
    float: right;
    margin-right: 20px;
    padding: 10px;
    background-color: #4d6630;
    border-radius: 10px 10px 10px 10px;
}

#fakeWrite {
    width: 80%;
    padding: 5px;
    margin-bottom: 2px;
    margin-left: 20px;
    float: left;
    background-color: #ffffff;
    border-radius: 2px 2px 2px 2px;
    color: #696969;
    font-style: italic;
}

#fakeSend {
    width: 10%;
    padding: 5px;
    margin-bottom: 0;
    margin-right: 20px;
    float: right;
    background-color: #4d6630;
    border-radius: 2px 2px 2px 2px;
    text-align: center;
}


.inboxMessages {
    width: 80%;
    padding: 20px;
    border-bottom: 3px solid #4d6630;
    margin: 0 auto;
}



/* ----- Skriv meddelande ----- */

#listOfNabos {
    position: relative;
    float: left;
    width: 35%;
}

#naboRutaWrite {
    width: 85%;
    position: relative;
    float: left;
}

#sendFields {
    position: relative;
    float: right;
    width: 65%;


}
#writeANewMessage {
    width: 85%;
    float: right;
    background-color: #ffffff;
    color: #696969;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    margin-right: 20px;
    font-style: italic;
    font-size: smaller;
}

#writeYourMessageHere {
    width: 85%;
    float: right;
    background-color: #ffffff;
    color: #696969;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    margin-right: 20px;
    font-style: italic;
    padding-bottom: 200px;
    font-size: smaller;
}

#sendYourMessageButton {
    width: 20%;
    float: right;
    background-color: #4d6630;
    color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    margin-right: 20px;
    margin-left: 400px;
    text-align: center;
    
}

/* ----- NABOS ----- */

#naboRuta {
    width: 40%;
    position: relative;
    float: left;
    padding: 10px;
    margin: 10px;
}

#naboListPic {
    float: left;
}

#naboListName{
    position: relative;
    float: left;
    margin-left: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
}

#naboListEnvelope {
    position: relative;
    float: left;
    top: 25px;
       
}

#naboListEnvelope:hover {
    border: 2px solid #4d6630;
}

/* ----- Footer ----- */

footer {
    width: 1105px;
    height: 30px;
    background-color: #4d6630;
    padding-top: 15px;
    padding-bottom: 5px;
    font-family: sans-serif;
    text-decoration: none;
    text-align: center;
    bottom: 0;
    position: fixed;
    border-radius: 5px 5px 0px 0px; 
    left: auto;
    right: auto;
    
}

footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0px 10px 0px 10px;
        
}

footer a:hover {
    color: #ababab;
}


/* ----- Inloggningssidan ----- */


#mamaWrapper {
    width: 1000px;
    height: 460px;
    top: 70px;
    position: relative;
    margin: 0 auto;
   
}






#indexWrapper {
    width: 600px;
    height: 335px;
    position: relative;
    float: left;
    border-top: 3px solid #4d6630;
    border-bottom: 3px solid #4d6630;
    border-left: 3px solid #4d6630;
    background: rgba(140, 140, 140, 0.8);
    border-radius: 20px 0px 0px 25px;

}

#signin {
    width: 320px;
    float: left;
    position: relative;
    
    margin-left: 20px;
    top: 105px;
}


#welcomeText {
    width: 200px;
    float: right;
    position: relative;
   
    top: 25px;
    margin-right: 20px;
    font-family: sans-serif;

}

#emailSI, #passwordSI {
    width: 300px;
    padding: 8px;
    margin: -3px;
}







#secondIndexWrapper {
    width: 380px;
    height: 335px;
    position: relative;
    float: right;
    background: rgba(140, 140, 140, 0.8);
    border-top: 3px solid #4d6630;
    border-bottom: 3px solid #4d6630;
    border-right: 3px solid #4d6630;
    border-radius: 0px 25px 25px 0px;
}

#signUp {
    width: 320px;
    position: relative;
    margin: 0 auto;
   
    top: 10px;
}


#emailLI,  #addressLI, #cityLI {
    width: 300px;
    padding: 8px;
    margin-bottom: 8px;
}


#nameLI, #surnameLI, .passwordLI {
    width: 138px;
    padding: 8px;
    margin-bottom: 8px;
}

.button1 {
    float: right;
    width: 100px; 
    height: 30px;
    background-color: #4d6630; 
    color: #FFF;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
}


.indexPageText {
    font-family: sans-serif;
    font-weight: bold;
}

















